In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from ast import literal_eval

df = pd.read_csv('assets/DataFrame.csv', converters={"Host": literal_eval})
df2 = pd.read_csv('assets/Majestic.csv', converters={"Host": literal_eval})

In [4]:
print(len(df), len(df2))

12376 1000000

In [5]:
df3 = pd.concat([df, df2])
print(len(df3))

1012376

In [11]:
df3[df3.duplicated(['Website'], keep='last')]

                          Website         Host
0                      google.com           []
1                     youtube.com           []
2                    facebook.com     [medium]
3                      amazon.com     [medium]
4                      reddit.com     [medium]
...                           ...          ...
12371                 elliman.com           []
12372        insurancejournal.com  [wordpress]
12373                     udr.com     [medium]
12374         nasaspaceflight.com           []
12375  royalsocietypublishing.org     [medium]

[12376 rows x 2 columns]